@model IEnumerable<GigHub.Models.Gig>

@{
    ViewBag.Title = "Home Page";
}

@if (Model != null)
{
    <ul>
        @foreach (var gig in Model)
        {
            <li>@gig.DateTime - @( gig.Artist?.Name != null ? gig.Artist?.Name : string.Empty)</li>
        }
    </ul>
}
